.h5-page-title{
	color: #072f5f;
}

.h6-small-title{
	font-weight: normal;
	font-size: 25px;
}

.card-title-banner{
  background-color: #072f5f;
  border: 1px solid #072f5f;
  border-radius: 20px;
}

.card-text{
	color: #ffff;
}

.card-bnhs{
	background-color: #072f5f;
	/*background-color: #f6f8fd;*/
	/*background: rgb(131,58,180);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);*/
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.27);
	-webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.27);
	-moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.27);
}

.h1-card-title{
	font-size: 45px;
  background: linear-gradient(90deg, rgba(0,82,193,1) 0%, rgba(0,228,255,1) 50%, rgba(0,255,222,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;q
}

.card-content-body{
	background: rgb(0,82,193);
	background: linear-gradient(90deg, rgba(0,82,193,1) 0%, rgba(0,228,255,1) 50%, rgba(0,255,222,1) 100%);
	
}

.card-content-body:hover{
	border: none;
	box-shadow: -1px 2px 14px 6px rgba(0,55,255,0.36);
	-webkit-box-shadow: -1px 2px 14px 6px rgba(0,55,255,0.36);
	-moz-box-shadow: -1px 2px 14px 6px rgba(0,55,255,0.36);
}

.col-card-body{
  border-left: 1px solid #ff6f2e;
  border-right: 1px solid #ff6f2e;
}

.card-instructor{
	background-color: #072f5f;
}

.instructor-text{
	color: #ffff;
}

.p-footer{
	font-size: 12px;
	color: #D3D3D3;
}

.select-time{
	text-decoration: none;
	color: #072f5f;
}

.select-time:hover{
	text-decoration: none;
	color: #ff0000;
}

.create-prof-btn{
  border: 1px solid #072f5f;
  color: #072f5f;
  border-radius: 5px;
}

.create-prof-btn:hover{
  background-color: #072f5f;
  color: #ffff;
  border: 1px solid #072f5f;
  border-radius: 15px;
}

.badge-on-time{
  background-color: #32cd32;
  color: #ffff;
}

.badge-late{
  background-color: #ff0000;
  color: #ffff;
}

.badge-excuse{
  background-color: #fafa33;
  color: #000000;
}

.tbl-action-btn-qr{
  background-color: #32cd32;
  color: #ffff;
  font-size: 12px;
}

.tbl-action-btn-disable{
  background-color: #ff0000;
  color: #ffff;
  font-size: 12px;
}

.tbl-action-btn-enable{
  background-color: #fafa33;
  color: #000000;
  font-size: 12px;
}

.create-qr-content{
  color: #072f5f;
}

/*STUDENT PROFILE*/
.card-profile{
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.27);
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.27);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.27);
  border: none;
}

.row-profile-data{
  border-bottom: 1px solid #3895d3;
}

.profile-data{
  color: #000000;
  font-size: 16px;
}

.small-profile-content{
  color: #3895d3;
  font-size: 14px;
}

.profile-subject{
  color: #3895d3;
}

.card-footer-profile{
  background: rgb(0,82,193);
  background: linear-gradient(90deg, rgba(0,82,193,1) 0%, rgba(0,228,255,1) 50%, rgba(0,255,222,1) 100%);
}

.btn-update-profile{
  background-color: transparent;
  color: #ffff;
  border: 1px solid #ffff;
  width: 40%;
}

.btn-update-profile:hover{
  background-color: #072f5f;
  color: #ffff;
  border: 1px solid #072f5f;
}
.btn-generate-qr{
  background-color: #3895d3;
  color: #ffff;
  border: 1px solid #3895d3;
  width: 40%;
}
.btn-generate-qr:hover{
  background-color: #072f5f;
  color: #ffff;
  border: 1px solid #072f5f;
  width: 40%;
}

/*MODAL CSS*/

.modal-btn-update{
  background-color: #3895d3;
  color: #ffff;
}
.modal-btn-update:hover{
  background-color: #072f5f;
  color: #ffff;
}

.modal-btn-generate{
  background-color: #ffffff;
  border: 1px solid #072f5f;
  color: #072f5f;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  width: 30%;
}

.modal-btn-generate:hover{
  background-color: #072f5f;
  border: 1px solid #072f5f;
  color: #ffff;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  width: 30%;
}

.modal-btn-download{
  background-color: #1261a0;
  border: 1px solid #072f5f;
  color: #ffff;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  width: 25%;
}

.modal-btn-download:hover{
  background-color: #072f5f;
  border: 1px solid #072f5f;
  color: #ffff;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  width: 25%;
}

.modal-btn-print{
  background-color: #1261a0;
  border: 1px solid #072f5f;
  color: #ffff;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  width: 25%;
}

.modal-btn-print:hover{
  background-color: #072f5f;
  border: 1px solid #072f5f;
  color: #ffff;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  width: 25%;
}

/*responsive*/

@media only screen and (max-width: 600px) {
  .h1-card-title{
    font-size: 20px;
  }
  .h6-small-title{
    font-size: 15px;
  }
  .img-banner{
    width: 20%;
  }

  .row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .col-card-body{
    border-right: none;
    border-bottom: 1px solid #ff6f2e;
    margin-bottom: 10px;
  }
}